{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Parallax, Template, Registration, Landing">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Grayrids">
    <title>RAISE - REC Bijnor</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/nivo-lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

  </head>
  <body>

    <!-- Header Section Start -->
    <header id="hero-area" data-stellar-background-ratio="0.5">    
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a href="index.html" class="navbar-brand"><img class="img-fluid" src="img/logo_11.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <i class="lnr lnr-menu"></i>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#hero-area">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#features">Area</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#area">Support</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#portfolios">Works</a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#team">Team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#blog">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="mobile-menu">
           <li>
              <a class="page-scroll" href="#hero-area">Home</a>
            </li>
            <li>
              <a class="page-scroll" href="#about">About</a>
            </li>
            <li>
              <a class="page-scroll" href="#features">Area</a>
            </li>
            <li>
              <a class="page-scroll" href="#area">Support</a>
            </li>

            <li>
              <a class="page-scroll" href="#portfolios">Works</a>
            </li>
            
            <li>
              <a class="page-scroll" href="#team">Team</a>
            </li>
            <li >
              <a class="page-scroll" href="#blog">Blog</a>
            </li>
            <li>
              <a class="page-scroll" href="#contact">Contact</a>
            </li>
        </ul>
        <!-- Mobile Menu End -->

      </nav>
      <!-- Navbar End -->   
      <div class="container">      
        <div class="row justify-content-md-center">
          <div class="col-md-10">
            <div class="contents text-center">
              <h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s" style="margin-bottom: 0em;">R.A.I.S.E</h1>
              <h5 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">Research and Incubation Center</h5>
              <p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">For Startups & Enterpreneurs REC Bijnor</p>
              <a href="#contact" class="btn btn-common wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">Contact</a>
            </div>
          </div>
        </div> 
      </div>           
    </header>
    <!-- Header Section End --> 

    <!-- Services Section Start -->
    <section id="about" class="section">
      <div class="container">
        <div class="section-header">          
          <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">About us</h2>
          <hr class="lines wow zoomIn" data-wow-delay="0.3s">
          <h1 class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Researh and Innovation Center for startups & Enterpreneurs (RAISE) was established wih the help of State Government of Uttar Pradesh on 2021. RAISE is a social incubation of Rajkiya Engineering College Bijnor, Uttar Pradesh, that aims to nurture start-ups working on technolgy proving an enabling environment for growth of venture. The incubator seeks to promate Students/Enterpreneurs by proving them righit support system such as mentoring & guiding support.

          </h1>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
              <div class="icon">
                <i class="lnr lnr-flag"></i>
              </div>
              <h4>Mission</h4>
              <p>To provide best support system for start-ups within our, incubation Centre.</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.8s">
              <div class="icon">
                <i class="lnr lnr-eye"></i>
              </div>
              <h4>Vision</h4>
              <p>To Build a vibrant start-up ecosystem by promoting new technology / Knowledge / innovation based Startups.</p>
            </div>
          </div>
        </div>
        
      </div>
    </section>
    <!-- Services Section End -->

    <!-- Features Section Start -->
    <section id="features" class="section" data-stellar-background-ratio="0.2">
      <div class="container">
        <div class="section-header">          
          <h2 class="section-title">Thrust Areas</h2>
          <hr class="lines">
          <p class="section-subtitle">We are section agnostic and entrepreneur who has an idea, can connect with us. But according to facilities <br> availables our centre following sector get some extra advantage.</p>
        </div>
        <div class="row">
          <div class="col-lg-8 col-md-12 col-xs-12">
            <div class="container">
              <div class="row">
                 <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                    <span class="icon">
                      <i class="lnr lnr-users"></i>
                    </span>
                    <div class="text">
                      <h4>Women <br>Empowerment</h4>
              
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                    <span class="icon">
                      <i class="lnr lnr-apartment"></i>
                    </span>
                    <div class="text">
                      <h4>Agritech</h4>
                     
                    </div>
                  </div> <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                    <span class="icon">
                      <i class="lnr lnr-sun"></i>
                    </span>
                    <div class="text">
                      <h4>IT Services</h4>
        
                    </div>
                  </div> <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                    <span class="icon">
                      <i class="lnr lnr-laptop-phone"></i>
                    </span>
                    <div class="text">
                      <h4>IOT/AI/ML/AR/VR/ Brane technology / Aviation</h4>
  
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                    <span class="icon">
                      <i class="lnr lnr-cloud-check"></i>
                    </span>
                    <div class="text">
                      <h4>Access to Finacial & Industry Association</h4>
                      <p>..</p>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                    <span class="icon">
                      <i class="lnr lnr-rocket"></i>
                    </span>
                    <div class="text">
                      <h4>Innovative Ideas And Creative Thinking</h4>
                      <p>..</p>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-xs-12">
            <div class="show-box">
              <img class="img-fulid" src="img/features/feature.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Features Section End -->    

  <!-- Start Pricing Table Section -->
  <div id="area" class="section pricing-section">
    <div class="container">
      <div class="section-header">          
        <h2 class="section-title">Our Support Services</h2>
        <hr class="lines">
        <p class="section-subtitle">Someone who has an idea and works to create an innovative product/service <br>or process that   people will buy is an Entrepreneur.</p>
      </div>

      <div class="row pricing-tables">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="pricing-table">
            <div class="pricing-details">
              <h2>Physical  Infrastructure  &  Common  Facilities</h2>
              <ul>
                <li>•	Plug & Play workstation (includes office space furniture, computer system, AC, Electricity, Power Backup, Internet, File cabinet etc).</li>
                <li>•	Laboratory facilities available with various department of REC.</li>
                <li>•	Security & House Keeping.</li>
                <li>•	Printer, Scanner, Copies  etc.(pay for use)</li>
                <li>•	 On-Campus canteen 2 Fast  food Joints.</li>
                <li>•	Conference Room  Auditorium</li>
                <li>•	Training Hall with 30 seating capacity.</li>
                <li>•	ATM on Campus-PNB.</li>
                <li>•	Access of REC lush green Campus</li>
              </ul>
            </div>
            <div class="plan-button">
              <a href="#" class="btn btn-common">Know More</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="pricing-table">
            <div class="pricing-details">
              <h2>Bussiness  Support <br> System</h2>
              <ul>
                <li>•	An Expert mentor assigned to reach start-up right from the start.</li>
                <li>•	Access to RAISE network of experienced.</li>
                <li>•	Industry mentors, professionals & consultants etc.</li>
                <li>•	Access to legal & financial consultant & technology service provider.</li>
                <li>•	National & International capacity Building & knowledge sharing events/networking & marketing platforms.</li>
                <li>•	Access to REC student Interns.</li>
                <li>•	 Access to government & Industry associations.</li>
                <li>•	Access to finding Resources / Investors such as VCs / Angel Investors / Banks etc.</li>
                <li>•	Brand leverage & credibility</li>
                <li>•	Poor support in a collaborative work environment</li>
              </ul>
            </div>
            <div class="plan-button">
              <a href="#" class="btn btn-common">Know More</a>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  <!-- End Pricing Table Section -->

    <!-- Start Video promo Section -->
    <section class="video-promo section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
              <div class="video-promo-content text-center">
                <h2 class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">Watch Our Intro video</h2>
                <p class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">This is intro video of various work fieldset. </fieldset></p>
                <a href="https://www.youtube.com/watch?v=IXoMDwh4Cq8" class="video-popup wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s"><i class="lnr lnr-film-play"></i></a>
              </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Video Promo Section -->
 
    <!-- Portfolio Section -->
    <section id="portfolios" class="section">
      <!-- Container Starts -->
      <div class="container">
        <div class="section-header">          
          <h2 class="section-title">Our Portfolio</h2>
          <hr class="lines">
          <p class="section-subtitle">We appreciate <br> every Idea.</p>
        </div>
        <div class="row">          
          <div class="col-md-12">
            <!-- Portfolio Controller/Buttons -->
            <div class="controls text-center">
              <a class="filter active btn btn-common" data-filter="all">
                All 
              </a>
              <a class="filter btn btn-common" data-filter=".design">
                Design 
              </a>
              <a class="filter btn btn-common" data-filter=".development">
                Development
              </a>
              <a class="filter btn btn-common" data-filter=".print">
                Print 
              </a>
            </div>
            <!-- Portfolio Controller/Buttons Ends-->
          </div>

          <!-- Portfolio Recent Projects -->
          <div id="portfolio" class="row">
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development print">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="{% static 'img/portfolio/img1.jpg' %}" alt="" />
                  <a class="overlay lightbox" href="img/portfolio/img1.jpg">
                    <i class="lnr lnr-eye item-icon"></i>
                  </a>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="{% static 'img/portfolio/img2.jpg' %}" alt="" />
                  <a class="overlay lightbox" href="img/portfolio/img2.jpg">
                    <i class="lnr lnr-eye item-icon"></i>
                  </a>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="{% static 'img/portfolio/img3.jpg' %}" alt="" />
                  <a class="overlay lightbox" href="img/portfolio/img3.jpg">
                    <i class="lnr lnr-eye item-icon"></i>
                  </a>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development design">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="{% static 'img/portfolio/img4.jpg' %}" alt="" />
                  <a class="overlay lightbox" href="img/portfolio/img4.jpg">
                    <i class="lnr lnr-eye item-icon"></i>
                  </a>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="{% static 'img/portfolio/img5.jpg' %}" alt="" />
                  <a class="overlay lightbox" href="img/portfolio/img5.jpg">
                    <i class="lnr lnr-eye item-icon"></i>
                  </a>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix print design">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="{% static 'img/portfolio/img6.jpg' %}" alt="" />
                  <a class="overlay lightbox" href="img/portfolio/img6.jpg">
                    <i class="lnr lnr-eye item-icon"></i>
                  </a>
                </div>               
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Container Ends -->
    </section>
    <!-- Portfolio Section Ends --> 

   
    <!-- Counter Section Start -->
    <div class="counters section" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row"> 
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="facts-item">   
              <div class="icon">
                <i class="lnr lnr-clock"></i>
              </div>             
              <div class="fact-count">
                <h3><span class="counter">1589</span></h3>
                <h4>Working Hours</h4>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="facts-item">   
              <div class="icon">
                <i class="lnr lnr-briefcase"></i>
              </div>            
              <div class="fact-count">
                <h3><span class="counter">699</span></h3>
                <h4>Completed Projects</h4>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="facts-item"> 
              <div class="icon">
                <i class="lnr lnr-user"></i>
              </div>              
              <div class="fact-count">
                <h3><span class="counter">203</span></h3>
                <h4>No. of Clients</h4>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="facts-item"> 
              <div class="icon">
                <i class="lnr lnr-heart"></i>
              </div>              
              <div class="fact-count">
                <h3><span class="counter">1689</span></h3>
                <h4>Peoples Love</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Counter Section End -->

    <!-- Team section Start -->
    <section id="team" class="section">
      <div class="container">
        <div class="section-header">          
          <h2 class="section-title">Our Team</h2>
          <hr class="lines">
          <p class="section-subtitle">RECB</p>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="single-team">
              <img src="{% static 'img/team/team1.jpg' %}" alt="">
              <div class="team-details">
                <div class="team-inner">
                  <h4 class="team-title">Dr. Ishan Bhardwaj</h4>
                  <p>Head</p>
                  <ul class="social-list">
                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="single-team">
              <img src="{% static 'img/team/team2.jpg' %}" alt="">
              <div class="team-details">
                <div class="team-inner">
                  <h4 class="team-title">Mr. Suraj Verma</h4>
                  <p>Graphic Designer</p>
                  <ul class="social-list">
                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="single-team">
              <img src="{% static 'img/team/team3.jpg' %}" alt="">
              <div class="team-details">
                <div class="team-inner">                  
                  <h4 class="team-title">Dr. Ishan Bhardwaj</h4>
                  <p>Head</p>
                  <ul class="social-list">
                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="single-team">
              <img class="img-fulid" src="{% static 'img/team/team4.jpg' %}" alt="">
              <div class="team-details">
                <div class="team-inner">
                  <h4 class="team-title">Mr. Suraj Verma</h4>
                  <p>Graphic Designer</p>
                  <ul class="social-list">
                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Team section End -->

    <!-- testimonial Section Start -->
    <div id="testimonial" class="section" data-stellar-background-ratio="0.1">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-12">
            <div class="touch-slider owl-carousel owl-theme">
              <div class="testimonial-item">
                <img src="{% static 'img/testimonial/customer2.jpg' %}" alt="Client Testimonoal" />
                <div class="testimonial-text">
                  <p>wonderful experience!!</p>
                  <h3>Jasmeet Kaur</h3>
                  <span>Full Stack Developer</span>
                </div>
              </div>
              <div class="testimonial-item">
                <img src="{% static 'img/testimonial/customer2.jpg' %}" alt="Client Testimonoal" />
                <div class="testimonial-text">
                  <p>wonderful experience!!</p>
                  <h3>Omkar Malik</h3>
                  <span>Data Analyst</span>
                </div>
              </div>
              <div class="testimonial-item">
                <img src="{% static 'img/testimonial/customer2.jpg' %}" alt="Client Testimonoal" />
                <div class="testimonial-text">
                  <p>wonderful experience!!</p>
                  <h3>Ashish</h3>
                  <span>Junior Engineer</span>
                </div>
              </div>
              <div class="testimonial-item">
                <img src="{% static 'img/testimonial/customer2.jpg' %}" alt="Client Testimonoal" />
                <div class="testimonial-text">
                  <p>wonderful experience!!</p>
                  <h3>Prashant Bajpai</h3>
                  <span>Data Scientist</span>
                </div>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </div>
    <!-- testimonial Section Start -->

    <section id="blog" class="section">
      <!-- Container Starts -->
      <div class="container">
        <div class="section-header">          
          <h2 class="section-title">Recent Blog</h2>
          <hr class="lines">
          <p class="section-subtitle">...</p>
          </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
            
            <!-- Blog Item Starts -->
            <div class="blog-item-wrapper">
              <div class="blog-item-img">
                <a href="single-post.html"  class="video-popup wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s">
                  <img src="{% static 'img/blog/img1.jpg' %}" alt="">
                </a>                
              </div>
              <div class="blog-item-text"> 
                <div class="meta-tags">
                  <span class="date"><i class="lnr  lnr-clock"></i>2 Days Ago</span>

                </div>
                <h3>
                  <a href="single-post.html" class="video-popup wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s">How often should you tweet?</a>
                </h3>
                <p>
                ... 
                </a></p>
                <a href="single-post.html" class="video-popup wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s">Read More <i class="lnr lnr-arrow-right"></i></a>
              </div>
            </div>
            <!-- Blog Item Wrapper Ends-->
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
            <!-- Blog Item Starts -->
            <div class="blog-item-wrapper">
              <div class="blog-item-img">
                <a href="single-post.html">
                  <img src="{% static 'img/blog/img2.jpg' %}" alt="">
                </a>                
              </div>
              <div class="blog-item-text"> 
                <div class="meta-tags">
                  <span class="date"><i class="lnr  lnr-clock"></i>2 Days Ago</span>

                </div>
                <h3>
                  <a href="single-post.html">Content is still king</a>
                </h3>
                <p>
                ... 
                </p>
                <a href="single-post.html" class="btn-rm">Read More <i class="lnr lnr-arrow-right"></i></a>
              </div>
            </div>
            <!-- Blog Item Wrapper Ends-->
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
            <!-- Blog Item Starts -->
            <div class="blog-item-wrapper">
              <div class="blog-item-img">
                <a href="single-post.html">
                  <img src="{% static 'img/blog/img3.jpg' %}" alt="">
                </a>                
              </div>
              <div class="blog-item-text"> 
                <div class="meta-tags">
                  <span class="date"><i class="lnr  lnr-clock"></i>2 Days Ago</span>
             
                </div> 
                <h3>
                  <a href="single-post.html">Social media at work</a>
                </h3>
                <p>
                ... 
                </p>
                <a href="single-post.html" class="btn-rm">Read More <i class="lnr lnr-arrow-right"></i></a>
              </div>
            </div>
            <!-- Blog Item Wrapper Ends-->
          </div>
        </div>
      </div>
    </section>
    <!-- Contact Section Start -->
    <section id="contact" class="section" data-stellar-background-ratio="-0.2">      
      <div class="contact-form">
        <div class="container">
          <div class="row">     
            <div class="col-lg-6 col-sm-6 col-xs-12">
              <div class="contact-us">
                <h3>Contact With us</h3>
                <div class="contact-address">
                  <p>Rajniya Engineering College, Bijnor </p>
                  <p class="phone">Phone: <span>(+91 XXXXXXXX87)</span></p>
                  <p class="email">E-mail: <span>(incubation@recb.ac.in)</span></p>
                </div>
                <div class="social-icons">
                  <ul>
                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li class="dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                  </ul>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d42246.25604352426!2d78.24717527388124!3d29.13216814203695!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6f84c5006226847c!2sRajkiya%20Engineering%20College%20Bijnor!5e0!3m2!1sen!2sin!4v1671730847052!5m2!1sen!2sin" 
                title="Rajkiya Engineering College Bijnor" aria-label="Rajkiya Engineering College Bijnor" 
                width="95%" height="130" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
              </iframe>
              </div>
            </div>     
            <div class="col-lg-6 col-sm-6 col-xs-12">
              <div class="contact-block">
                <form id="contactForm" action="contacts" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required data-error="Please enter your name">
                        <div class="help-block with-errors"></div>
                      </div>                                 
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="text" placeholder="Your Email" id="email" class="form-control" name="email" required data-error="Please enter your email">
                        <div class="help-block with-errors"></div>
                      </div> 
                    </div>
                     <div class="col-md-12">
                      <div class="form-group">
                        <input type="text" placeholder="Contact No" id="phone" class="form-control" name="phone" required data-error="Please enter your Contact No.">
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group"> 
                        <textarea class="form-control" id="msg" placeholder="Your Message" rows="8" data-error="Write your message" required></textarea>
                        <div class="help-block with-errors"></div>
                      </div>
                      <div class="submit-button text-center">
                        <button type="submit" value="SEND" id="submit" class="btn btn-common">Send Message</button>
                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                        <div class="clearfix"></div> 
                      </div>
                    </div>
                  </div>            
                </form>
              </div>
            </div>
           
          </div>
          
        </div>
      </div> 
                
    </section>
    
    <!-- Contact Section End -->

    <!-- Footer Section Start -->
    <footer>          
      <div class="container">
        <div class="row">
        
          <!-- Footer Links -->
          <div class="col-lg-6 col-sm-6 col-xs-12">
            
            <ul class="footer-links">
              <li>
                <a href="#">Home</a>
              </li>
              <li>
                <a href="#portfolios">Works</a>
              </li>
              <li>
                <a href="#about">About Us</a>
              </li>
              <li>
                <a href="#contact">Contact</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="copyright">
              <p>All copyrights reserved &copy; 2022 - <a rel="nofollow" href="#">Designed & Developed by Recian</a></p>
            </div>
          </div>  
        </div>
      </div>
    </footer>
    <!-- Footer Section End --> 

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="lnr lnr-arrow-up"></i>
    </a>
    
    <div id="loader">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>     

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="{% static 'js/jquery-min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.mixitup.js' %}"></script>
    <script src="{% static 'js/nivo-lightbox.js' %}"></script>
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/jquery.nav.js' %}"></script>
    <script src="{% static 'js/scrolling-nav.js' %}"></script>
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/wow.js' %}"></script>
    <script src="{% static 'js/jquery.vide.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/form-validator.min.js' %}"></script>
    <script src="{% static 'js/contact-form-script.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

  </body>
</html>